<app-header></app-header>
<div class="container-fluid bg-white d-block mt-7 px-5">
  <div class="row">
    <div class="col-4">
      <div class="card hover-shadow-lg">
        <div class="card-header">
          <h5 class="font-weight-bold m-0"><i class="fas fa-check-circle mr-2"></i>Recent Booking</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Village:</small>
              <p class="text-sm lh-160 mb-3">Village {{ bookingHistory[0]?.village }}</p>
            </div>
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Room Number:</small>
              <p class="text-sm lh-160 mb-3">{{ bookingHistory[0]?.roomNumber }}</p>
            </div>
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Aircond:</small>
              <p class="text-sm lh-160 mb-3">{{ bookingHistory[0]?.aircond }}</p>
            </div>
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Number of Semester:</small>
              <p class="text-sm lh-160 mb-3">{{ bookingHistory[0]?.numberOfSemester }}</p>
            </div>
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Duration:</small>
              <p class="text-sm lh-160 mb-3">{{ bookingHistory[0]?.checkInDate | date:'dd/MM/yyyy' }} - {{ bookingHistory[0]?.checkOutDate | date:'dd/MM/yyyy' }}</p>
            </div>
            <div class="col-lg-12 col-xl-6">
              <small class="h6 text-sm font-weight-bold">Total Fees:</small>
              <p class="text-sm lh-160 mb-3">RM {{ bookingHistory[0]?.fees | number:'.2' }}</p>
            </div>
          </div>
          <small class="h6 text-sm font-weight-bold">Roommates:</small>
          <div class="card mb-2 bg-gray-400 border-0" *ngFor="let m of roommates">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <span
                  class="avatar rounded-circle avatar-lg bg-primary text-white font-weight-bold hover-shadow-lg hover-scale-110">{{ m.bed }}</span>
                <div class="avatar-content ml-3">
                  <h5 class="mb-0 font-weight-bold">{{ m.studentName | uppercase }}</h5>
                  <small class="d-block text-muted font-weight-bold">Email: {{ m.studentEmail }}</small>
                  <small class="d-block text-muted font-weight-bold">Phone: {{ m.studentContact }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card hover-shadow-lg">
        <div class="card-header">
          <h5 class="font-weight-bold m-0"><i class="fas fa-history mr-2"></i>Booking History</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered rounded">
              <thead>
                <tr class="text-center">
                  <th scope="col">Year</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Village</th>
                  <th scope="col">Room</th>
                  <th scope="col">Bed</th>
                  <th scope="col">Aircond</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of bookingHistory" class="text-center">
                  <th scope="row">{{ m?.checkInDate | date:'yyyy' }}</th>
                  <td>{{ m?.checkInDate | date:'dd/MM/yyyy' }} - {{ m?.checkOutDate | date:'dd/MM/yyyy' }}</td>
                  <td>{{ m?.village }}</td>
                  <td>{{ m?.roomNumber }}</td>
                  <td>{{ m?.bed }}</td>
                  <td>{{ m?.aircond }}</td>
                  <td>RM {{ m?.fees | number:'.2' }}</td>
                  <td>{{ m?.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->