<div class="container mb-6">
  <div class="row bg-secondary pt-2">
    <div class="col-12">
      <h3 class="text-dark text-left font-weight-700" style="font-family:Calibri;">Frequently Ask Question</h3>
    </div>
  </div>
  <div class="text-sm text-justify mt-3" style="line-height: 120%;">
    <h6 class="text-primary font-weight-bolder mb-3">Orders</h6>
    <p class="mb-2 text-dark"><strong>How do I make an order?</strong>:</p>
    <p>User didn&rsquo;t receive a portion or a whole of the ordered Products</p>
    <p class="mb-2 text-dark"><strong>I scanned the QR code but it seems to not working, what shoud I do?</strong>:</p>
    <p>Products are delivered only after an extended amount of time far exceed their standard delivery time. However,
      the Merchant reserved the right to determine their standard delivery time.
    </p>
    <p class="mb-2 text-dark"><strong>Do I need to login to order my food?</strong>:</p>
    <p>User received his order but it was not as ordered</p>
    <p class="mb-2 text-dark"><strong> If I have special preference/request such as less spicy or an extra plate, what should I do?</strong>:</p>
    <p>User received an entire order that was incorrect or not theirs</p>
    <p>However, the said refund/reorder/compensation application is up to the Merchant to decide and determine whether
      to accept or reject and the compensation is provided by the Merchant only.
    </p>
    <p class="mb-2 text-dark"><strong>I am not sure if I have made my order, how can I check it?</strong>:</p>
    <p>In the rare event that an overcharge occur, which is whereby You have been charged a higher amount than the
      total price you should have paid (including all the taxes and Fees), and the difference could not be logically
      explained, such as error from the bank or payment gateway side, or systems error/disruption, please notify
      Foododo soonest and provide Us all the documents, screenshots and proofs and we shall try our best to assist you
      in the process of returning the overcharge amount to you, subject to the lead time mentioned above and this
      period may vary depending on the response time of the said bank/payment gateway as well.
    </p>
    <p class="mb-2 text-dark"><strong>I changed my table after making an order, what should I do?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>I ordered my food, but it is taking a very long time. Can I cancel my order and get refund?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>The restaurant has sent me a wrong order, what can I do?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>Can I request refund?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <h6 class="text-primary font-weight-bolder mb-3">Payment & Receipt</h6>
    <p class="mb-2 text-dark"><strong>How should I pay for my order?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>What are the payment methods available?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>How to check if I have made my payment or not?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>I cannot make my payment, what shoud I do?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <p class="mb-2 text-dark"><strong>Where can I get my receipt?</strong>:</p>
    <p>Foododo and the Merchant reasonably attempt to comply with Your special Requests for an order. However, in
      certain cases where this is not physically possible, feasible or commercially reasonable, Foododo and/or the
      Merchant reserve the right to prepare the order in conforming with standard operating procedures. Neither
      Foododo nor the Merchant will be responsible to refund or replace an order which does not accord to special
      requests provided by You.
    </p>
    <h6 class="font-weight-bolder mb-3">Fododo Technology Support</h6>
    <p>Attn: Client Support<br>support@foododo.co</p>
  </div>
</div>