<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-3 pt-3 pb-0">
        <div class="card mb-0" style="background-color:#ecd2d3">
          <div class="card-body">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col">
                <div class="text-center">
                  <div class="h2 text-primary font-weight-bolder"><i class="fas fa-angle-double-left"></i></div>
                  <h6 class="text-capitalize font-weight-bolder text-primary text-sm mb-0">EAT</h6>
                </div>
              </div>
              <div class="col text-center">
                <img alt="Image placeholder" src="../../../assets/img/logo/Webp.net-resizeimage.png"
                  class="avatar rounded-circle avatar-lg">
              </div>
              <div class="col">
                <div class="text-center">
                  <div class="h2 text-primary font-weight-bolder"><i class="fas fa-angle-double-right"></i></div>
                  <h6 class="text-capitalize font-weight-bolder text-primary text-sm mb-0">COOK</h6>
                </div>
              </div>
            </div>
            <div *ngIf="cookVerified == 0" class="text-center pt-4">
              <button (click)="modalEvent('modalRegister')" type="button" class="btn btn-sm btn-primary rounded-pill border-0">
                <span class="btn-inner--text">Register as Cook</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="cookVerified == 1" class="col-6 pt-2 pl-3 pr-1">
        <div class="card mb-0" style="background-color:#D7F0E5">
          <div class="card-body py-3">
            <h5 class="text-success mb-0 font-weight-bolder">RM {{ cashAmount | number:'.2' }}</h5>
            <h6 class="text-success mb-0"><small>Cash Account</small></h6>
          </div>
        </div>
      </div>
      <div *ngIf="cookVerified == 1" class="col-6 pt-2 pr-3 pl-1">
        <div class="card mb-0" style="background-color:#D7F0E5">
          <div class="card-body py-3">
            <h5 class="text-success mb-0 font-weight-bolder">RM {{ ePaymentAmount | number:'.2' }}</h5>
            <h6 class="text-success mb-0"><small>e-Account</small></h6>
          </div>
        </div>
      </div>
      <div class="col-12 p-3">
        <div class="card">
          <div class="list-group text-sm list-group-flush">
            <a href="javascript:void(0)" [routerLink]="['/settings']"
              class="list-group-item list-group-item-action d-flex justify-content-between text-dark">
              <div>
                <i class="fas fa-user-circle mr-2"></i>
                <span>Profile</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between text-dark">
              <div>
                <i class="fas fa-cog mr-2"></i>
                <span>Settings</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between text-dark">
              <div>
                <i class="far fa-question-circle mr-2"></i>
                <span>FAQ</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between text-dark">
              <div>
                <i class="fas fa-question-circle mr-2"></i>
                <span>Support Centre</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 fixed-bottom pb-6">
        <a href="javascript:void(0)" (click)="logOut()" class="btn btn-sm btn-block btn-soft-primary">
          <i class="fas fa-sign-out-alt mr-2"></i>Logout
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-primary fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-3">
        <h6 class="modal-title text-white font-weight-bolder" id="exampleModalLabel">Register as a Cook</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-primary">
        <div class="modal-body p-3 m-1">
          <div class="form-group">
            <label class="form-control-label text-white">IC Number</label>
            <input type="number" class="form-control form-control-emphasized form-control-sm"
              placeholder="IC Number without any symbol">
          </div>
          <div class="mt-4">
            <label class="form-control-label text-white">Kitchen Pictures (Verification Purpose)</label>
            <input type="file" name="file-2[]" id="file-2" class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
           <label for="file-2" class="py-2">
               <i class="fa fa-upload"></i>
               <span>Choose files</span>
           </label>
       </div>
        </div>
        <div class="modal-footer">
          <div class="row m-0">
            <div class="col p-0 pr-1">
              <button type="button" class="btn btn-sm btn-block bg-primary-dark text-white"
                data-dismiss="modal">CLOSE</button>
            </div>
            <div class="col p-0 pl-1">
              <button type="button" type="submit" class="btn btn-sm btn-block btn-secondary text-primary font-weight-bolder" (click)="registerCook()">REGISTER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>