<app-header></app-header>
<div class="container mt-7">
  <div class="row">
    <div class="col-1">
      <div style="position: -webkit-sticky; position: sticky; top: 6rem; align-self: flex-start;">
        <nav class="nav flex-column font-weight-bold">
          <a class="nav-item nav-link active mb-2" data-toggle="tab" href="#v1" role="tab" aria-selected="true" (click)="topFunction()">V1</a>
          <a class="nav-item nav-link mb-2" data-toggle="tab" href="#v2" role="tab" aria-selected="true" (click)="topFunction()">V2</a>
          <a class="nav-item nav-link mb-2" data-toggle="tab" href="#v3" role="tab" aria-selected="true" (click)="topFunction()">V3</a>
          <a class="nav-item nav-link mb-2" data-toggle="tab" href="#v4" role="tab" aria-selected="true" (click)="topFunction()">V4</a>
          <a class="nav-item nav-link mb-2" data-toggle="tab" href="#v5" role="tab" aria-selected="true" (click)="topFunction()">V5</a>
          <a class="nav-item nav-link mb-2" data-toggle="tab" href="#v6" role="tab" aria-selected="true" (click)="topFunction()">V6</a>
        </nav>
      </div>
    </div>
    <div class="col-11">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="v1" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V1 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v1/V1A.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v1/V1B.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v1/V1C.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v1/V1D.jpg" style="width:1000px"
                class="img-fluid rounded">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="v2" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V2 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v2/V2A.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v2/V2B.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v2/V2C.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v2/V2D.jpg" style="width:1000px"
                class="img-fluid rounded">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v2/V2E.jpg" style="width:1000px"
                class="img-fluid rounded">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="v3" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V3 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v3/V3A1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v3/V3B1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v3/V3C1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v3/V3D1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v3/V3E1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="v4" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V4 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v4/V4A1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v4/V4B1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v4/V4C1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v4/V4D1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v4/V4E1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="v5" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V5 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/2.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/3.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/4.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/5.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/6.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/7.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/8.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/9.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/10.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/11.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v5/12.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="v6" role="tabpanel">
          <div class="card hover-shadow-lg px-3">
            <div class="card-body">
              <h1 class="mb-4 font-weight-bold underline">V6 Floor Plan</h1>
              <img alt="Image placeholder" src="../../assets/img/floorplan/v6/1.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v6/2.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v6/3.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
              <img alt="Image placeholder" src="../../assets/img/floorplan/v6/4.jpg" style="width:1000px"
                class="img-fluid rounded mb-6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>