<app-header></app-header>
<div class="container-fluid bg-white d-block mt-7 px-5">
  <div class="row">
    <div class="col-4">
      <div class="card hover-shadow-lg">
        <div class="card-header">
          <div class="d-flex align-items-center py-2">
            <span
              class="avatar bg-primary text-white rounded-circle avatar-lg hover-shadow-lg hover-scale-110">{{ publicAuth.studentName | slice:0:2 }}</span>
            <div class="avatar-content ml-3">
              <h5 class="mb-0 font-weight-bold">{{ publicAuth.studentName | uppercase }}</h5>
              <small class="d-block text-muted font-weight-bold">{{ publicAuth.course }}</small>
              <small class="d-block text-muted font-weight-bold">Matrix ID: {{ publicAuth.studentID }}</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <small class="h6 text-sm font-weight-bold">Reminder:</small>
          <p class="text-sm lh-160 mb-3">Maximum duration allow to book is up to three(3) semesters.</p>
          <small class="h6 text-sm font-weight-bold">Booking Period:</small>
          <p class="text-sm lh-160 mb-0">01 January 2021 - 15 January 2021</p>
        </div>
      </div>
      <div class="card hover-shadow-lg" style="position: -webkit-sticky; position: sticky; top: 6rem; align-self: flex-start;">
        <div *ngIf="!showBookingDetails" class="card-header">
          <h5 class="font-weight-bold m-0 text-success"><i class="fas fa-check-circle mr-2"></i>Booking Cart</h5>
        </div>
        <div *ngIf="showBookingDetails" class="card-header d-flex justify-content-between pt-4">
          <h5 class="font-weight-bold m-0 text-success"><i class="fas fa-check-circle mr-2"></i>Booking Cart</h5>
          <a href="javascript:void(0)" (click)="clearCart()"><h5><i class="fas fa-redo-alt"></i></h5></a>
        </div>
        <div class="card-body">
          <div *ngIf="!showBookingDetails">
            <div class="align-self-center text-center mr-2">
              <img alt="Image placeholder" src="../../assets/img/svg/illustrations/Market launch-pana.svg"
                class="svg-inject img-fluid">
            </div>
          </div>
          <div *ngIf="showBookingDetails" class="table-responsive">
            <table class="table table-cards align-items-center">
              <thead>
                <tr>
                  <th scope="col" class="col">Room</th>
                  <th scope="col" class="col">Aircond</th>
                  <th scope="col" class="col">No. of Semester</th>
                  <th scope="col" class="text-right col">Unit Fees</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <th scope="row">
                    <div class="align-items-center">
                      <div class="lh-100 mb-2">
                        <span class="text-dark font-weight-bold">Village {{ selectedRoom.village }}</span>
                      </div>
                      <div class="lh-100 mb-2">
                        <span class="text-muted font-weight-bold">{{ selectedRoom.roomNumber }}</span>
                      </div>
                      <div class="lh-100">
                        <span class="text-muted font-weight-bold">Bed {{ selectedRoom.bed }}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <span class="font-weight-bold text-dark">{{ selectedRoom.aircond }}</span>
                  </td>
                  <td>
                    <div class="align-items-center">
                      <a href="javascript:void(0)" class="btn-inner--icon text-muted" (click)="deleteQuantity()">
                        <i class='fas fa-minus'></i>
                      </a>
                      <span class="badge badge-secondary mx-2 text-xs">
                        {{ numberOfSemester }}
                      </span>
                      <a href="javascript:void(0)" class="btn-inner--icon text-muted" (click)="addQuantity()">
                        <i class='fas fa-plus'></i>
                      </a>
                    </div>
                  </td>
                  <td class="text-right">
                    <span class="font-weight-bold text-dark">RM {{ selectedRoom.price | number:'.2' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 *ngIf="showBookingDetails" class="text-dark font-weight-bold mt-4 pt-2 text-center">Total: <span class="text-success">RM {{ totalFees | number:'.2'}}</span></h6>
        </div>
        <div class="card-footer px-0 py-0 border-0 overflow-hidden">
          <button *ngIf="showBookingDetails" class="btn btn-block btn-success rounded-0" [disabled]="!showBookingDetails" (click)="submit()">Submit</button>
          <button *ngIf="!showBookingDetails" class="btn btn-block btn-success rounded-0" disabled>Cart Empty</button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-4">Step 1: Choose a village</h6>
          <nav class="nav nav-pills nav-pills-icon nav-justified font-weight-bold">
            <a *ngFor="let m of village" class="nav-item nav-link" data-toggle="tab" href="javascript:void(0)"
              role="tab" (click)="getBuilding(m.village)" aria-selected="true">V{{ m.village }}</a>
          </nav>
        </div>
      </div>

      <div *ngIf="showBuilding" class="card">
        <div class="card-body">
          <h6 class="mb-4">Step 2: Choose a building</h6>
          <nav class="nav nav-pills nav-pills-icon nav-justified font-weight-bold">
            <a *ngFor="let m of building" class="nav-item nav-link" data-toggle="tab" href="javascript:void(0)"
              role="tab" (click)="getRoom(m.block)" aria-selected="true">{{ m.block }}</a>
          </nav>
        </div>
      </div>

      <div *ngIf="showRoom" class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="mb-4">Step 3: Choose a room</h6>
            <a href="javascript:void(0)" class="mb-4 h6" (click)="getRoomCapacity(); modalEvent('filterRoom');"><i
                class="fas fa-filter"></i></a>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered rounded">
              <thead>
                <tr>
                  <th scope="col" class="col">Room</th>
                  <th scope="col" class="col">Bed</th>
                  <th scope="col" class="col">Aircond</th>
                  <th scope="col" class="col">Price</th>
                  <th scope="col" class="text-center col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of room">
                  <th scope="row">{{ m.roomNumber }}
                    <span *ngIf="m.status == 1" class="badge badge-soft-danger ml-2">
                      Occupied
                    </span>
                  </th>
                  <td>{{ m.bed }}</td>
                  <td>{{ m.aircond }}</td>
                  <td>RM {{ m.price | number:'.2' }}</td>
                  <td class="text-right">
                    <button type="button" class="btn btn-sm btn-outline-primary py-1" (click)="selectRoom(m)"
                      [disabled]="m.status == 1">
                      Select
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal bg-translucent-dark fade" id="filterRoom" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="false">
    <div class="modal-content">
      <div class="modal-body">
        <h6 class="modal-title mb-3" id="myLargeModalLabel">Room Capacity:</h6>
        <nav class="nav nav-pills nav-pills-icon nav-justified font-weight-bold">
          <a *ngFor="let m of availableRoomCapacity" class="nav-item nav-link" data-toggle="tab"
            href="javascript:void(0)" role="tab" aria-selected="true"
            (click)="selectRoomCapacity(m.capacity)">{{ m.capacity }}</a>
        </nav>
      </div>
      <div class="modal-footer">
        <div class="row m-0">
          <div class="col p-0 pr-1">
            <button type="button" class="btn btn-dark btn-block" [disabled]="!showFilterButton"
              (click)="filterRoom()">Filter</button>
          </div>
          <div class="col p-0 pl-1">
            <button type="button" class="btn btn-danger btn-block" (click)="resetFilter()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-danger bg-translucent-dark fade" id="roomOccupied" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="false">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="h4" aria-hidden="true">&times;</span>
        </button>
        <h5 class="text-center text-white my-4"><i class="fas fa-exclamation-triangle fa-4x"></i></h5>
        <h5 class="modal-title text-center mb-4" id="myLargeModalLabel">Opps, someone is ahead of you.<br/>Room occupied!</h5>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-success bg-translucent-dark fade" id="bookSucessfully" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="false">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center text-white my-4"><i class="fas fa-check-circle fa-4x"></i></h5>
        <h5 class="modal-title mb-2 text-center">Awesome!</h5>
        <p class="text-sm mb-4 text-center">Your booking has been confirmed, check your email for booking details. You will be redirected to booking history page.</p>
      </div>
    </div>
  </div>
</div>